<template name="features">
<div id="features" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2"> Brush up your English speaking skill </h2>
                <h4 class="center text_h4">Linguita match you with native Language partners with whom can talk about the topic that you want in the moment.</h4>
                <br/>
            </div>
            <div  class="my-features">
                <div class="col l6 m6 s12">
                    <ul class="promo-feature" id="feature-done">
                        <li>
                            <i class="material-icons tiny">done</i>&nbsp;Nulla ornare tortor quis rhoncus vulputate.
                        </li>
                        <li>
                            <i class="material-icons tiny">done</i>&nbsp;Vivamus a enim vel erat accumsan hendrerit.
                        </li>
                        <li>
                           <i class="material-icons tiny">done</i>&nbsp;Nulla ornare tortor quis rhoncus vulputate.
                        </li>
                        <li>
                           <i class="material-icons tiny">done</i>&nbsp;Retina Display for Mobile HD Devices.
                        </li>
                    </ul>
                </div>
                <div class="col l6 m6 s12 center">
                    <div class="embed-container">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eZJMzAHa-uQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                
        </div>
    </div>
            
    </div>
</div>
</template>

