<template name="more">
<div class="section scrollspy" id="more">
    <div class="container">
            <div  class="col s12">
                <h2 class="center header text_h2 more-title">Get Free Linguita Mobile </h2>
                <br/>
            </div>
        <div class="row more-mobile">
                <div class="col m6">
                    <img src="./icon-phone.png" width="380" height = "490">
                </div>
                <div class=" col m6">
                    <p class="applinguita">Features of Linguita Nulla ornare tortor quis rhoncus vulputate.Nulla ornare tortor quis rhoncus vulputate.Nulla ornare tortor quis rhoncus vulputate.</p>
                            <div class="col s6">
                                <a href="#"><img src="./icon-googleplay.png"></a>
                            </div>
                            <div class="col s6">
                                <a href="#"><img src="./icon-appstore.png"></a>
                            </div>
                    <br/>
                    <p class="text-center followus">Follow us</p>
                    <div>
                         <div class="col m4">
                            <i class="icon-facebook large"></i>
                        </div>
                        <div class="col m4">
                            <i class="icon-gplus large"></i>
                        </div>
                        <div class="col m4">
                            <i class="icon-twitter large"></i>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
</template>