.more {
    background: #3D88F7;
    padding: 2% 0;
}

.more h1 {
    color: #fff;
    font-size: 2.5em;
}

.follow {
    padding-top: 50px;
}

.follow p {
    color: #fff;
    font-size: 1.4em;
}

.follow .followus{
    font-size: 2em;
}
.follow .download {
    padding-top: 20px;
    padding-bottom: 40px;
}

.follow .download .row {
    padding-left: 35px;
}

.follow .item i {
    color: #fff;
    font-size: 4.5em;
    padding: 38px 30px;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.follow .item i {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.follow .item i:after {
    top: 0;
    left: 0;
    padding: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.follow .item i:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    opacity: 0.5;
}

.follow .item:hover i {
    color: #009688;
    cursor: pointer;
}
